---
import DarkflowLogo from '../components/DarkflowLogo.astro';
import Layout from '../layouts/Layout.astro';
const { screen } = Astro.params;
---

<Layout title="DisplayNumber">

	{
		screen == null && (
		<span
			class="text-xl text-center text-white mt-16"
		>
			No screen provided
		</span>
		)
	}

	<DarkflowLogo />

</Layout>
